.nike-bg-primary{
    background-color: #FFF9F4;
}

.nike-text{
    color: rgb(250, 128, 76);
}

.btn-nike{
    background-color: rgb(250, 128, 76);
    color: white;
    border-radius: 15px;
    padding: 10px 15px;
}

.bg-card-img{
    background-color: #F1F1F1;
}